@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>

	</Authorized>
	<NotAuthorized>
		<h1 class="text-center">Hello, world!</h1>

		<p class="text-center">This is my Human Capital Management (HCM) App</p>
	</NotAuthorized>
</AuthorizeView>
